@use "../accessory/" as *;

.sp {
  @include media-min(sm) {
    display: none !important;
  }
}

.pc {
  @include media-max(sm) {
    display: none !important;
  }
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.shrink {
  flex-shrink: 1;
}

.grow {
  flex-grow: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.grid {
  display: grid;
}
